# Đọc file train

In [1]:
import pandas as pd
import numpy as np

# Đường dẫn đến file feather cần đọc
file_path = 'D:/ProJ/data/GQUIC_train_128.feather'

# Đọc file feather
df = pd.read_feather(file_path)

In [2]:
# Hiển thị dữ liệu
df

,flow_id,0,1,2,3,4,5,6,7,8,...,119,120,121,122,123,124,125,126,127,Label
0,1,54,237,114,231,112,181,253,113,85,...,0,67,83,67,84,140,4,0,0,0
1,1,224,52,1,24,139,80,37,142,72,...,55,254,219,129,171,213,39,80,54,0
2,1,147,230,214,144,237,10,20,195,121,...,0,0,0,0,0,0,0,0,0,0
3,1,134,212,68,223,217,174,29,228,155,...,0,0,0,0,0,0,0,0,0,0
4,1,5,112,242,100,226,166,86,181,252,...,74,74,239,64,29,247,84,229,88,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263315,155096,78,254,66,31,163,21,161,151,4,...,145,214,194,74,209,102,82,8,204,1
263316,155096,230,254,88,242,134,236,12,175,116,...,0,0,0,0,0,0,0,0,0,1
263317,155096,133,112,135,3,207,201,55,167,135,...,58,206,9,112,215,213,57,149,222,1
263318,155096,162,146,30,105,172,241,58,9,239,...,23,186,54,143,222,105,77,226,75,1
263319,155096,0,114,236,238,95,210,104,84,87,...,0,0,0,0,0,0,0,0,0,1

In [3]:
feature_names = df.columns
feature_names = feature_names[1:129]
feature_names
%store feature_names

Stored 'feature_names' (Index)

In [4]:
feature_names

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '118', '119', '120', '121', '122', '123', '124', '125', '126', '127'],
      dtype='object', length=128)

In [5]:
label_counts = df['Label'].value_counts()

In [6]:
label_counts/20

Label
4    3742.0
0    2842.0
2    2808.0
1    2034.0
3    1740.0
Name: count, dtype: float64

# 20 gói tin trong một network flow sẽ được kết hợp lại tạo thành một ma trận có kích thước 20 * X (X là kích thước chuẩn)

In [7]:
# Chọn cột '0' đến '127' cho mỗi flow_id và chuyển thành một danh sách các ma trận
matrices = []
labels = []
for flow_id, group in df.groupby('flow_id'):
    matrix = group.loc[:, '0':'127'].values
    label = group['Label'].values[0] 
    matrices.append(matrix)
    labels.append(label)

# Chuyển danh sách ma trận thành mảng NumPy
X = np.array(matrices)
X = X / 255
y = np.array(labels)

In [8]:
y.shape

(13166,)

In [9]:
%store X
%store y

Stored 'X' (ndarray)
Stored 'y' (ndarray)

In [10]:
X.shape

(13166, 20, 128)

# Đọc file test

In [11]:
# Đường dẫn đến file feather cần đọc
file_path_test = 'D:/ProJ/data/GQUIC_test_128.feather'

# Đọc file feather
df_test = pd.read_feather(file_path)

In [12]:
df_test

,flow_id,0,1,2,3,4,5,6,7,8,...,119,120,121,122,123,124,125,126,127,Label
0,1,54,237,114,231,112,181,253,113,85,...,0,67,83,67,84,140,4,0,0,0
1,1,224,52,1,24,139,80,37,142,72,...,55,254,219,129,171,213,39,80,54,0
2,1,147,230,214,144,237,10,20,195,121,...,0,0,0,0,0,0,0,0,0,0
3,1,134,212,68,223,217,174,29,228,155,...,0,0,0,0,0,0,0,0,0,0
4,1,5,112,242,100,226,166,86,181,252,...,74,74,239,64,29,247,84,229,88,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263315,155096,78,254,66,31,163,21,161,151,4,...,145,214,194,74,209,102,82,8,204,1
263316,155096,230,254,88,242,134,236,12,175,116,...,0,0,0,0,0,0,0,0,0,1
263317,155096,133,112,135,3,207,201,55,167,135,...,58,206,9,112,215,213,57,149,222,1
263318,155096,162,146,30,105,172,241,58,9,239,...,23,186,54,143,222,105,77,226,75,1
263319,155096,0,114,236,238,95,210,104,84,87,...,0,0,0,0,0,0,0,0,0,1

# Chuẩn hóa dữ liệu test

In [13]:
# Chọn cột '0' đến '127' cho mỗi flow_id và chuyển thành một danh sách các ma trận
matrices_test = []
labels_test = []
for flow_id, group in df_test.groupby('flow_id'):
    matrix = group.loc[:, '0':'127'].values
    label = group['Label'].values[0] 
    matrices_test.append(matrix)
    labels_test.append(label)

# Chuyển danh sách ma trận thành mảng NumPy
X_test = np.array(matrices_test)
X_test = X_test / 255
y_test = np.array(labels_test)

In [14]:
%store X_test
%store y_test

Stored 'X_test' (ndarray)
Stored 'y_test' (ndarray)

In [15]:
X.shape[-1]

128