In [1]:
import pandas as pd
import numpy as np

# Đường dẫn đến file feather cần đọc
file_path = 'data/Train/GQUIC_train_512.feather'

# Đọc file feather
df = pd.read_feather(file_path)

In [2]:
df

,flow_id,0,1,2,3,4,5,6,7,8,...,503,504,505,506,507,508,509,510,511,Label
0,1,54,237,114,231,112,181,253,113,85,...,45,45,45,45,45,45,45,45,45,0
1,1,224,52,1,24,139,80,37,142,72,...,0,0,0,0,0,0,0,0,0,0
2,1,147,230,214,144,237,10,20,195,121,...,0,0,0,0,0,0,0,0,0,0
3,1,134,212,68,223,217,174,29,228,155,...,0,0,0,0,0,0,0,0,0,0
4,1,5,112,242,100,226,166,86,181,252,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263315,155096,78,254,66,31,163,21,161,151,4,...,85,97,218,166,74,252,84,46,4,1
263316,155096,230,254,88,242,134,236,12,175,116,...,0,0,0,0,0,0,0,0,0,1
263317,155096,133,112,135,3,207,201,55,167,135,...,139,215,77,215,74,144,6,242,124,1
263318,155096,162,146,30,105,172,241,58,9,239,...,0,0,0,0,0,0,0,0,0,1
263319,155096,0,114,236,238,95,210,104,84,87,...,0,0,0,0,0,0,0,0,0,1

In [3]:
# Chọn cột '0' đến '127' cho mỗi flow_id và chuyển thành một danh sách các ma trận
matrices = []
labels = []
for flow_id, group in df.groupby('flow_id'):
    matrix = group.loc[:, '0':'511'].values
    label = group['Label'].values[0] 
    matrices.append(matrix)
    labels.append(label)

# Chuyển danh sách ma trận thành mảng NumPy
X = np.array(matrices)
X_512 = X / 255
y_512 = np.array(labels)

MemoryError: Unable to allocate 1.00 GiB for an array with shape (13166, 20, 512) and data type float64

In [ ]:
feature_names = df.columns
feature_names_512 = feature_names[1:513]
feature_names_512
%store feature_names_512

In [ ]:
feature_names_512.shape

In [ ]:
%store X_512
%store y_512

In [ ]:
# Đường dẫn đến file feather cần đọc
file_path_test = 'data/Test/GQUIC_test_512.feather'

# Đọc file feather
df_test = pd.read_feather(file_path)

In [ ]:
# Chọn cột '0' đến '127' cho mỗi flow_id và chuyển thành một danh sách các ma trận
matrices_test = []
labels_test = []
for flow_id, group in df.groupby('flow_id'):
    matrix = group.loc[:, '0':'511'].values
    label = group['Label'].values[0] 
    matrices_test.append(matrix)
    labels_test.append(label)

# Chuyển danh sách ma trận thành mảng NumPy
X_test = np.array(matrices_test)
X_test_512 = X_test / 255
y_test_512 = np.array(labels_test)

In [ ]:
%store X_test_512
%store y_test_512